<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.start.mapper.VacationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.start.domain.Vacation">
        <id column="id" property="id" />
        <result column="idcard" property="idcard" />
        <result column="apply_time" property="applyTime" />
        <result column="begin" property="begin" />
        <result column="end" property="end" />
        <result column="work_class" property="workClass" />
        <result column="reason" property="reason" />
        <result column="agree" property="agree" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, idcard, apply_time, begin, end, work_class, reason, agree
    </sql>

</mapper>
